@charset "UTF-8";

:root {
    --gradient-Header: linear-gradient(90deg, #0052be, #00a2d3, #006dd3);
    --gradient-Headera: linear-gradient(130deg, #006dd3, #00a2d3, #0052be, #006dd3, #00a2d3);
}

html,
body {
    height: 100%;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    color: white;
    background: radial-gradient(circle, #242a35, #11141a);
    text-align: center;
}

.titulo {
    display: inline-block;
    background: var(--gradient-Header);
    border-radius: 15px;
    padding: 5px 40px;
    margin: 50px auto 10px;
    max-width: 90%;
}

#logo {
    padding: 60px 20px;
    font-size: 24px;
    font-weight: bold;
}

nav {
    background-color: rgba(0, 0, 0, 0.5);
    padding: 20px;
}

nav a {
    text-decoration: none;
    color: white;
    padding: 10px 40px;
}

nav a:hover {
    text-decoration: underline;
}

#contato {
    background: var(--gradient-Header);
    padding: 20px;
    border-radius: 15px;
    margin: 20px auto 90px;
    width: 50%;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5);
}

#contato h2 {
    font-size: 25px;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

label {
    font-size: 16px;
    margin-top: 10px;
}

input {
    width: 80%;
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #00a2d3;
    border-radius: 5px;
    background: #0d1117;
    color: white;
    box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.5);
}

.buto {
    padding: 10px 15px;
    background: var(--gradient-Header);
    color: white;
    border: none;
    border-radius: 12px;
    cursor: pointer;
    width: 100px;
    font-size: 18px;
    transition: 0.3s;
    font-weight: bold;
    box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.5);
}

.buto:hover {
    transform: scale(1.2);
    filter: drop-shadow(1px 1px 10px rgb(44, 44, 44));
}

.star-rating {
    background-color: #0000007e;
    border: 1px solid #00a2d3;
    border-radius: 15px;
    padding: 0 1% 2.5% 1%;
    box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.5);
    direction: rtl;
    unicode-bidi: bidi-override;
    font-size: 0;
    display: inline-flex;
    cursor: pointer;
    gap: 10px;
}

.star-rating input {
    display: none;
}

.star-rating label {
    color: #ccc;
    font-size: 35px;
    transition: color 0.2s, transform 0.2s;
}

.star-rating input:checked~label,
.star-rating label:hover,
.star-rating label:hover~label {
    color: gold;
    transform: scale(1.1);
    filter: drop-shadow(1px 1px 10px gold);
}

.quadrado,
.quadrada {
    display: inline-block;
    border-radius: 10px;
    margin: 0 1.5%;
    align-items: center;
    justify-content: center;
}

.quadrado img {
    width: 160px;
    margin-bottom: 15%;
}

.quadrada img {
    width: 200px;
    transition: 0.3s ease;
}

.quadrada img:hover {
    transform: scale(1.2);
    filter: drop-shadow(1px 1px 10px rgb(0, 153, 255));
}

.popup-overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.75);
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.popup-content {
    background: radial-gradient(circle, #242a35, #11141a);
    padding: 30px 40px;
    border-radius: 15px;
    border: 2px solid #00a2d3; /* Borda azul */
    color: white;
    text-align: center;
    font-size: 18px;
    box-shadow: 0px 0px 10px rgb(0, 183, 255);
}

.popup-content button {
    margin-top: 20px;
    padding: 10px 20px;
    background: var(--gradient-Header);
    border: none;
    border-radius: 10px;
    font-weight: bold;
    color: white;
    cursor: pointer;
    font-size: 16px;
    transition: 0.3s;
    box-shadow: 2px 5px 10px rgb(0, 0, 0);
}

.popup-content button:hover {
    transform: scale(1.1);
    box-shadow: 0px 0px 10px rgb(0, 183, 255);
}

@media (max-width: 768px) {
    .titulo {
        padding: 5px 20px;
        font-size: 18px;
    }

    #logo {
        font-size: 20px;
        padding: 30px 10px;
    }

    nav {
        padding: 10px;
    }

    nav a {
        display: block;
        padding: 10px 0;
        font-size: 16px;
    }

    #contato {
        width: 90%;
        padding: 15px;
    }

    input {
        font-size: 14px;
    }

    .buto {
        font-size: 16px;
    }

    .star-rating label {
        font-size: 28px;
    }
}
