@charset "UTF-8";

:root {
    --gradient-Header: linear-gradient(90deg, #0052be, #00a2d3, #006dd3);
    --gradient-Headera: linear-gradient(130deg, #006dd3, #00a2d3, #0052be, #006dd3, #00a2d3);
}

html {
    height: 100%;
}

body {
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    align-items: center;
    background: radial-gradient(circle, #242a35, #11141a);
    box-sizing: border-box;
    padding: 0 10px;
    font-weight: bold;

}

.descricao p {

    font-size: 19px;

}

.titulo {
    display: inline-block;
    background: var(--gradient-Header);
    border-radius: 15px;
    padding: 5px 40px;
    box-sizing: border-box;
    margin-top: 50px;
    max-width: 90%;
    font-weight: bold;
    margin-bottom: 80px;

}

.quadrado {
    display: inline-block;
    border-radius: 10px;
    margin-left: 5%;
    margin-right: 5%;
    align-items: center;
    justify-content: center;
}

.quadrado img {
    width: 160px;
    margin-bottom: 15%;
}

.quadrada {
    display: inline-block;
    border-radius: 10px;
    align-items: center;
    margin-left: 1.5%;
    margin-right: 1.5%;
    justify-content: center;
}

.quadrada img {
    width: 200px;
    transition: 0.3s ease;
}

.quadrada img:hover {
    transform: scale(1.2);
    filter: drop-shadow(1px 1px 10px rgb(0, 153, 255));
}


.trabai {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 50px;
    margin-top: 50px;
    margin-bottom: 50px;
}

.serv {
    background: var(--gradient-Header);
    border-radius: 20px;
    padding: 20px;
    width: 500px;
    max-width: 500px;
    height: auto;
    text-align: center;
    box-shadow: 0px 4px 10px rgb(0, 0, 0);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    margin-bottom: 100px;
}

.serv:hover {
    transform: scale(1.05);
    box-shadow: 0px 6px 15px rgb(0, 140, 255);
}

.serv img {
    width: 300px;
    height: auto;
    margin-bottom: 19px;
}

.descricao h3 {
    color: #ffffff;
    font-size: 18px;
    margin: 10px 0;
    font-weight: bold;
}

@media (max-width: 768px) {

    .serv {
        width: 90%;
        padding: 15px;
    }

    .serv img {
        width: 100%;
    }

    .descricao h3 {
        font-size: 16px;
    }

    .trabai {
        gap: 15px;
        margin: 30px 0;
    }

    .quadrado,
    .quadrada {
        margin-right: 50px;
        margin-left: 50px;
    }

}